.navbar {
  background-color: rgb(90, 127, 115);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-button {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
